/* Universal Styles */
body {
  min-height: 100vh;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
}

.hide {
  display: none !important;
}

#img-menu-hamburger, .list-item-menu-link > a:hover, .list-item-menu-link > button:hover, .div-article-author > div > h3, .div-landing-page > div > h2:hover, .div-extra-article > div > h2:hover {
  cursor: pointer;
}
/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
  position: relative;
}

.logo {
  width: 105px;
  height: 32px;
}

#img-menu-hamburger {
  width: 24px;
  height: 20px;
}

nav > div {
  width: calc(100% - 2rem);
  position: absolute;
  top: 4.5rem;
  left: 1rem;
  padding: 2rem 1rem;
  background-color: hsl(39, 100%, 89%);
  color: hsl(0, 0%, 0%);
  border: 2px solid hsl(0, 0%, 0%);
  border-radius: 4px;
}

.list-menu {
  text-align: center;
}

.list-item-menu-link {
  margin-bottom: 1rem;
}

.list-item-menu-link:last-of-type {
  margin-bottom: 0;
}

.list-item-menu-link > a:hover {
  color: hsl(39, 100%, 50%);
  font-weight: 700;
}

.list-item-menu-link > button {
  width: 100%;
  display: block;
  padding: .5rem;
  border: 2px solid hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 100%);
  border-radius: 4px;
}

.list-item-menu-link > button:hover {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
}

/* Main */
main, footer {
  padding: 0 1rem;
}

.div-img-wrapper, .img-article {
  margin-bottom: 2rem;
}

#img-hero, .img-article {
  display: block;
}

.div-landing-page > div > h2, .div-extra-article > div > h2 {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.div-landing-page > div > h2:hover, .div-extra-article > div > h2:hover {
  text-decoration: underline;
}

.div-landing-page > div > div, .div-extra-article > div > div {
  margin-bottom: 1rem;
  font-size: 19px;
}

.div-article-author {
  display: flex;
  align-items: center;
}
.div-article-author > img {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

.div-article-author > div {
  font-size: 1rem;
}

.div-article-author > div > h3 {
  font-weight: 700;
}

/* Footer */
footer {
  padding: 2rem 1rem;
}

footer > h2 {
  margin-bottom: 1rem;
}

@media (min-width: 576px) {
  .div-img-wrapper {
    width: 100%;
    height: 275px;
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
  }

  .img-article {
    height: 200px;
  }
}

@media (min-width: 767px) {
  header, footer {
    padding: 2rem;
  }

  nav {
    width: 50%;
  }

  nav > div {
    position: initial;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    background-color: transparent;
    border: 0;
    border-radius: 0;
  }

  .list-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: start;
  }

  .list-item-menu-link {
    margin-bottom: 0;
  }

  #btn-subscribe {
    width: fit-content;
    display: block;
    padding: .75rem 1.25rem;
    border: 2px solid hsl(39, 100%, 50%);
    background-color: hsl(39, 100%, 50%);
    color: hsl(0, 0%, 0%);
    font-weight: 700;
  }

  #btn-subscribe:hover {
    border: 2px solid hsl(0, 0%, 0%);
    background-color: hsl(0, 0%, 100%);
  }

  main {
    padding: 0 2rem;
  }

  .div-extra-articles > ul > li {
    margin-bottom: 2rem;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  footer > h2 {
    margin-bottom: 0;
  }
}

@media (min-width: 922px) {
  header, footer {
    padding: 2rem 6rem;
  }

  main {
    padding: 0 6rem;
  }
}

@media (min-width: 1200px) {
  header {
    padding: 2rem 8rem 4rem 8rem;
  }

  nav {
    width: 30%;
  }

  main {
    padding: 0 8rem;
  }

  .div-landing-page {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .div-landing-page > div > div, .div-extra-article > div > div {
    font-size: 18px;
  }

  .div-img-wrapper {
    width: 392px;
    height: 100%;
  }

  .div-landing-page > div:last-of-type {
    width: 50%;
  }

  .div-extra-articles {
    margin-bottom: 2rem;
  }

  .div-extra-articles > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .div-extra-articles > ul > li {
    width: 32%;
    margin-bottom: 0;
  }

  .img-article {
    margin-bottom: 1rem;
  }

  footer {
    padding: 2rem 8rem;
  }
}

@media (min-width: 1400px) {
  .div-landing-page > div:last-of-type {
    width: 60%;
  }
}